past-order-item {
  .order-item {
    margin: 12px 6px 6px 6px;
    width: calc(100% - 12px);

    ion-label {
      margin-top: 0;
      margin-bottom: 5px;
    }
    ion-grid {
      padding: 0;
    }
  }
  .item-image {
    img {
      height: 40px !important;
      width: auto;
      display: inline;
    }
  }
  .item-image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s linear;
  }
  .item-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .item-time {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }
  .item-desc {
    margin: 0;
    ion-icon {
      padding-right: 4px;
    }
    strong {
      padding-right: 6px;
    }
  }
  .order-info-container {
    ion-col {
      margin-bottom: 0px;
      margin-top: 4px;
      .second {
        margin-left: 6px;
      }
    }
  }
  .data-col {
    padding: 4px 0 0 8px !important;
  }
}
