<ion-content padding>
  <div class="page-header" *ngIf="caseData">
    <span class="page-title">Scanned Case</span>
  </div>
  <case-info [case]="caseData" *ngIf="caseData"></case-info>
  <div class="no-data-text" *ngIf="!caseData">
    <ion-icon name="md-sad" text-center></ion-icon>
    <h3>No QR Code was scanned yet.</h3>
    <p>To get started, simply click on the camera button to open the QR scanner.</p>
  </div>
  <ion-fab bottom center>
    <button ion-fab (click)="scanCode()" color="dark">
      <ion-icon name="md-camera"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom left class="scan-fab" *ngIf="caseData">
    <button ion-button round color="secondary" large (click)="pickupCase()">Pickup</button>
  </ion-fab>
  <ion-fab bottom right class="scan-fab" *ngIf="caseData">
    <button ion-button round color="dark" large (click)="checkoutCase()">Checkout</button>
  </ion-fab>
  <!--<ion-fab bottom left class="scan-fab" *ngIf="caseData">-->
    <!--<button ion-button round color="dark" large (click)="returnCase()">Return</button>-->
  <!--</ion-fab>-->
</ion-content>
