page-past-orders {

  .content-ios {
    .scroll-content {
      padding-top: 60px !important;
    }
  }
  .content-md {
    .scroll-content {
      padding-top: 60px !important;
    }
  }

  .toolbar-content-ios,
  .toolbar-content-md {
    margin-top: 18px;
  }

}
