page-cart {

  .content-ios {
    .scroll-content {
      padding-top: 25px !important;
    }
  }

  .toolbar-content-ios {
    margin-top: 16px;
  }

  .checkout-fab {
    button {
      height: 2.4em !important;
      border-radius: 32px;
      padding: 0 0.8em;
    }
    .button-inner {
      font-size: 1.6rem;
      height: 2.4em !important;
    }
  }
  .watch-later-title {
    padding-top: 20px;

    span {
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
  .watch-container {
    margin-bottom: 80px;
  }
}
