page-cart {
  .checkout-fab {
    button {
      height: 2.4em !important;
      border-radius: 32px;
      padding: 0 0.8em;
    }
    .button-inner {
      font-size: 1.6rem;
      height: 2.4em !important;
    }
  }
}
