<ion-header>
  <ion-navbar>
    <ion-title>Register Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <ion-list inset>

      <ion-item [ngClass]="{ invalid: registerForm.controls['email'].errors && registerForm.controls['email'].dirty }">
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <p class="auth-error" *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].dirty">Email is not valid.</p>

      <ion-item [ngClass]="{ invalid:  registerForm.controls['password'].errors && registerForm.controls['password'].dirty }">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>

      <p class="auth-error" *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].dirty">Short Password.</p>
    </ion-list>

    <div padding-horizontal>
      <div class="form-error">{{registerError}}</div>

      <button ion-button full type="submit" [disabled]="!registerForm.valid">Sign up</button>
    </div>
  </form>
</ion-content>
