<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button color="dark" block (click)="editUserProfile()" padding-left padding-right>Edit User Info</button>
  <ion-card class="profile-card">
    <ion-card-header>
      USER DETAILS
    </ion-card-header>
    <ion-card-content>
      <ion-card-title *ngIf="userData && userData.displayName">
        {{userData.displayName}}
        <ion-icon name="ios-create-outline" color="dark" class="edit-user-button"
                  (click)="editDisplayName()" float-end></ion-icon>
      </ion-card-title>
      <button ion-button color="dark" small (click)="editDisplayName()" float-right
              *ngIf="!userData || (userData && !userData.displayName)">Add name
      </button>
      <p ion-text class="dark">Your name identifies you for pickup and returns.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="profile-card">
    <ion-card-header>
      PICKUP DETAILS
    </ion-card-header>
    <ion-card-content>
      <ion-card-title *ngIf="userData && userData.pickupLocation">
        Sector {{userData.pickupLocation}}
        <ion-icon name="ios-create-outline" color="dark" class="edit-user-button"
                  (click)="editPickupLocation()" float-end></ion-icon>
      </ion-card-title>
      <button ion-button color="dark" small (click)="editPickupLocation()" float-right
              *ngIf="!userData || (userData && !userData.pickupLocation)">Select pickup location
      </button>
      <p ion-text class="dark">The pickup location specifies where you want your package to be dropped off.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="logout">
    <button ion-button outline block (click)="checkForUpdate()" *ngIf="platform.is('cordova')">
      Check for update
    </button>
    <button ion-button outline block (click)="downloadUpdate()" *ngIf="platform.is('cordova') && hasUpdate">
      Download Updated
    </button>
    <button ion-item icon-left (click)="logout()">
      <ion-icon name="md-exit"></ion-icon>
      Log out
    </button>
  </ion-card>
  <p ion-text text-center color="secondary" *ngIf="platform.is('cordova')">Version: {{versionNumber}}</p>
</ion-content>
