page-history {

  .custom-toolbar {
    padding-bottom: 0px !important;
    .toolbar-background {
      background-color: white !important;
    }
  }

  .content-ios {
    .scroll-content {
      padding-top: 100px !important;
    }
  }
  .content-md {
    .scroll-content {
      padding-top: 100px !important;
    }
  }

  .toolbar-content-ios {
    margin-top: 16px;
  }

  .history-card {
    padding: 8px 0;
    ion-row {
      padding: 8px 0;
    }
  }
  .history-date {
    h3 {
      font-size: 2.4rem;
      font-weight: bold;
    }
    p {
      font-size: 1.7rem;
    }
  }
  .history-info {

  }
}
