page-history {

  .custom-toolbar {
    padding-bottom: 0px !important;
    .toolbar-background {
      background-color: white !important;
    }
  }

  .content-ios {
    .scroll-content {
      padding-top: 60px !important;
    }
  }
  .content-md {
    .scroll-content {
      padding-top: 60px !important;
    }
  }

  .toolbar-content-ios,
  .toolbar-content-md {
    margin-top: 18px;
  }

  .history-card {
    padding: 8px 0;
    ion-row {
      padding: 8px 6px;
    }
  }
  .history-date {
    h3 {
      font-size: 2.4rem;
      font-weight: bold;
    }
    p {
      font-size: 1.9rem;
      font-weight: bold;
    }
  }
  .history-info {
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 4px;
      color: #666;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    p {
      font-size: 1.2rem;
    }

  }
}
