<ion-content padding>
  <div class="page-header">
    <span class="page-title">History</span>
  </div>
  <ion-card *ngFor="let history of histories" class="history-card">
    <ion-row>
      <ion-col col-3 text-center class="history-date" no-padding>
        <h3>{{history.month}}</h3>
        <p>{{history.day}}</p>
      </ion-col>
      <ion-col col-9 class="history-info" no-padding>
        <h3>{{history.info}}</h3>
        <hr class="custom-divide">
        <p>Checked out from <strong>{{history.location}}</strong></p>
        <small *ngIf="history.timeLeft"><strong>{{history.timeLeft}}</strong> left till return!</small>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
