lazy-img {
  .placeholder {
    background: url('./../../assets/imgs/placeholder.png');
    &::before {
      align-items: center;
      content: '';
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}
