// http://ionicframework.com/docs/theming/
$app-fonts-path: '../assets/fonts/' !default;
@font-face {
  font-family: Product_Sans;
  src: url('#{$app-fonts-path}Product_Sans_Regular.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Product_Sans;
  src: url('#{$app-fonts-path}Product_Sans_Bold.ttf') format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Product_Sans;
  src: url('#{$app-fonts-path}Product_Sans_Italic.ttf') format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Product_Sans;
  src: url('#{$app-fonts-path}Product_Sans_Bold_Italic.ttf') format("ttf");
  font-weight: bold;
  font-style: italic;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  font-family: "Product_Sans", sans-serif !important;
  font-weight: normal !important;
}

p {
  font-family: "Product Sans", sans-serif !important;
}

.page-header {
  .page-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.custom-divide {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2px;
}

.custom-divide.bold{
  background-color: rgba(0, 0, 0, 0.4);
}
