page-checkout {
  .case-image {
    img {
      height: auto !important;
      max-height: 60px !important;
      width: auto;
      max-width: 60px;
      display: inline;
    }
  }
  .case-title {
    font-weight: bold;
  }
  .checkout-card,
  .pickup-card {
    ion-card-header {
      padding-bottom: 0px;
      font-weight: bold;
      text-transform: uppercase;
    }
    ion-card-content {
      padding: 8px 8px 8px 16px !important;
    }
  }
  .checkout-card {
    .checkout-item {
      padding-left: 0px;
    }
    .img-container {
      width: 60px;
    }
  }
  .pickup-card {
    .pickup-item {
      padding-left: 0px;
    }
  }
}
