<ion-header>
  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <custom-loader *ngIf="isLoading" class="overlay"></custom-loader>
  <ion-card class="checkout-card">
    <ion-card-header>
      {{caseData.length}} {{caseData.length > 1 ? 'items' : 'item'}} to pickup
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let case of caseData" class="checkout-item">
        <div item-start class="img-container">
          <lazy-img class="case-image" inputSrc="{{case.imageUrl}}"></lazy-img>
        </div>
        <h2 class="case-title">{{case.name}}</h2>

        <p *ngIf="case.maxHoldTime">Max checkout time: <strong>{{case.maxHoldTime}} hrs!</strong></p>
        <p>{{case.category}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="pickup-card">
    <ion-card-header>
      PICKUP DETAILS
      <button float-right ion-button color="secondary" small> Refresh</button>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="pickup-item">
        <p *ngIf="userInfo && userInfo.displayName">Checkout by <strong float-right>{{userInfo.displayName}}</strong></p>
        <p>Your approximate location: <strong float-right>Sector B5</strong></p>
        <p>Closest pickup station: <strong float-right>Sector B1</strong></p>
        <p>ETA: <strong float-right>10 mins</strong></p>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button ion-button block color="primary" (click)="placeOrder()">Place your order</button>
</ion-content>
