page-create-case {

  .image-holder {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    width: 100%;
    height: 250px;
    max-height: 250px;
    display: table;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0;
    background: rgba(0, 0, 0, 0.2);
    div {
      padding: 5px 20px;
      display: table-cell;
      vertical-align: middle;
    }
    img {
      width: 100% !important;
      height: 250px !important;
      max-height: 250px !important;
    }
    ion-icon {
      font-size: 6rem;
    }
    h5 {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
