page-inventory {
  font-family: "Product_Sans", sans-serif !important;
  font-weight: 400 !important;

  .content-ios {
    .scroll-content {
      padding-top: 30px !important;
    }
  }
  .content-md {
    .scroll-content {
      padding-top: 20px !important;
    }
  }
  .page-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 26px;
  }
}
