<ion-content padding>
  <div class="page-header">
    <span class="page-title">Inventory</span>
    <ion-segment [(ngModel)]="inventoryCategory">
      <ion-segment-button value="available">
        Available
      </ion-segment-button>
      <ion-segment-button value="unavailable">
        Unavailable
      </ion-segment-button>
    </ion-segment>
  </div>

  <custom-loader *ngIf="!casesData"></custom-loader>

  <div *ngIf="casesData">
    <div [ngSwitch]="inventoryCategory" swipeSegment [tabsList]="categories" [(currentTab)]="inventoryCategory" (tabChanged)="onTabChanged($event)" class="swipe-area">
      <ion-list *ngSwitchCase="'available'">
        <item-card *ngFor="let case of casesData | isAvailable:true" [case]="case" [cart]="userCart" [userId]="userId" [favCart]="favCart"></item-card>
      </ion-list>
      <ion-list *ngSwitchCase="'unavailable'">
        <item-card *ngFor="let case of casesData | isAvailable:false" [case]="case" [cart]="userCart" [userId]="userId" [favCart]="favCart"></item-card>
      </ion-list>
    </div>
  </div>

  <ion-fab bottom right class="create-case-fab" #fab>
    <button ion-fab><ion-icon name="add" color="dark"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="createNewCase()" class="create-sub-fab" color="dark">
        <ion-icon name="briefcase"></ion-icon><ion-label>New Case</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
