<ion-content padding>
  <h2 class="page-title">Inventory</h2>

  <custom-loader *ngIf="!casesData"></custom-loader>
  <ion-list *ngIf="casesData">
    <item-card *ngFor="let case of casesData" [case]="case"></item-card>
  </ion-list>

  <ion-fab bottom right margin>
    <button ion-fab><ion-icon name="md-options"></ion-icon></button>
    <ion-fab-list side="top">
      <button (click)="toggleFlashLight()" ion-fab><ion-icon name="flash">

      </ion-icon></button>
      <button ion-fab (click)="toggleCamera()"><ion-icon name="reverse-camera"></ion-icon> </button>

    </ion-fab-list>
  </ion-fab>
</ion-content>
