
<ion-toolbar padding class="custom-toolbar">
  <div class="page-header">
    <span class="page-title">Inventory</span>
    <ion-segment [(ngModel)]="inventoryCategory" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="available">
        Available
      </ion-segment-button>
      <ion-segment-button value="unavailable">
        Unavailable
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-toolbar>
<ion-content padding class="custom-content">

  <custom-loader *ngIf="!casesData"></custom-loader>

  <div *ngIf="casesData">
    <ion-slides #inventorySlider (ionSlideDidChange)="onSlideChanged($event)">
      <ion-slide *ngFor="let slide of slides">
        <ion-list>
          <item-card *ngFor="let case of casesData | isAvailable:slide.value" [case]="case" [cart]="userCart" [userId]="userId"
                     [favCart]="favCart"></item-card>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-fab bottom right class="create-case-fab" #fab>
    <button ion-fab>
      <ion-icon name="add" color="dark"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="createNewCase()" class="create-sub-fab" color="dark">
        <ion-icon name="briefcase"></ion-icon>
        <ion-label>New Case</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

