<div class="cart-item" [class.is-not-available]="!case.isAvailable">
  <ion-grid>
    <ion-row>
      <ion-col col-3 no-padding>
        <lazy-img class="item-image" inputSrc="{{case.imageUrl}}"></lazy-img>
      </ion-col>
      <ion-col col-9>
        <h5 class="item-title">{{case.name}}</h5>
        <p class="small item-desc"><strong>{{isAvailableText}}</strong></p>
        <hr class="custom-divide">
        <ion-row float-right>
          <button ion-button small text-capitalize (click)="removeCaseFromCart()"
                  color="danger">
            <ion-icon name="remove-circle"></ion-icon>&emsp;Remove
          </button>
          <button ion-button small text-capitalize (click)="addToFav()"
                  color="light">
            <ion-icon name="star-half"></ion-icon>&emsp;Save for later
          </button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<hr class="custom-divide bold">
